<%= render @user %>

<div class="user-meta">
  <p><strong>Joined on:</strong> <%= @joined_on %></p>
  <p><strong>Last logged in on:</strong> <%= @last_login %></p>
  <p><strong>No. times logged in:</strong> <%= @user.sign_in_count %></p>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
