<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= "%.2f" % item.price %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= item.user.name %>
  </p>

</div>
