<h2> You're almost done! Now create a password to securely access your account.</h2>
<%= form_for(resource, as: resource_name, url: confirm_path, method: :patch) do |form| %>
  <%= devise_error_messages! %>
  <%= form.password_field :password, placeholder: 'password' %>
  <br />
  <%= form.password_field :password_confirmation, placeholder: 'confirm password' %>
  <%= form.hidden_field :confirmation_token, :value => @original_token %>
  <br />
  <%= form.submit 'Confirm Account' %>
<% end %>


<!--%h2 You're almost done! Now create a password to securely access your account.-->
<!--= semantic_form_for(resource, :as => resource_name, :url => confirm_path, :method => :patch) do |form|-->
<!--= devise_error_messages!-->
<!--= form.inputs do-->
<!--= form.input :password, :input_html => {:autofocus => true}-->
<!--= form.input :password_confirmation-->
<!--= form.input :confirmation_token, :as => :hidden, :value => @original_token-->
<!--= form.actions do-->
<!--= form.action :submit, :label => 'Confirm Account'-->
