<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-container">
      <header>
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>.<br>
          Not you?
          <%= link_to "Edit profile", edit_user_registration_path %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "sign in", new_user_session_path %>
        <% end %>

        <nav>
          <% if @current_user&.admin? %>
            <%= link_to "Items", items_path %> |
            <%= link_to "Users", users_path %> |
            <%= link_to "Roles", roles_path %>
          <% end %>
        </nav>
      </header>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
