<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header class="site-header">
        <div class="branding">
          <%= link_to "MyStore", root_path %>
        </div>
          <div class="header-right">
          <nav class="user-nav">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %> |
              <%= link_to "Edit profile", edit_user_registration_path %> |
              <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> or
              <%= link_to "sign in", new_user_session_path %>
            <% end %>
          </nav>

          <nav class="admin-nav">
            <% if @current_user&.admin? %>
              <%= link_to "Items", items_path %> |
              <%= link_to "Users", users_path %> |
              <%= link_to "Roles", roles_path %>
            <% end %>
          </nav>
        </div>
      </header>

      <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: "flash #{name}", data: { controller: "flash" }
       %>
     <% end %>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
